# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-3w22w.us-central1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=HM7BUP62NQEDHTD7
sasl.password=DJ9fwJPF8AnXLRe+H9lOzUIMCDHQhyyeaL3Q732dRqYhbgG3HiZSdHEMR4Z0aFHT

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-x77pq.us-central1.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=HM7BUP62NQEDHTD7:DJ9fwJPF8AnXLRe+H9lOzUIMCDHQhyyeaL3Q732dRqYhbgG3HiZSdHEMR4Z0aFHT
